ul {
	padding: 0px;
}

* {
	padding: 0px;
	margin: 0px;
}

#header {
	margin: auto;
	width: 500px;
	font-family: helvetica neue, helvetica, arial, sans-serif;
}

ul,il {
	list-style: none;
}

.menu li a {
	background-color: #C0C0C0;
	color: #fff;
	text-decoration: none;
	padding: 9px 25px;
	display: block;
	border: 1px grey solid;
	font-size: 13px;
	cursor: default;
	
}

.menu li a:hover {
	background-color: #434343;
}

.menu>li ul {
	display: none;
	position: absolute;
	left: 155px;
	top: 0px;
	width: 155px;
}

.menu li:hover>ul {
	display: block;
}

.menu li ul li {
	position: relative;
	border: 0.5px grey solid;
}

.menu li {
	position: relative;
}

.menu {
	width: 155px;
}